/* ALLES */

#img-accueil {
    background-size: cover;
    width: 100vw
}

#TheForce {
    font-size: 2em;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    margin: 25px;
}

/* ADD STAGIAIRE */

form#container {
    max-width: 800px;
    margin: 10% auto
}

/* ACCUEIL et SESSIONS DISPOIBLES (CARDS) */

#card {
    background-color: rgba(54, 162, 235, 0.6);
    margin: 10px;
}

#card:hover {
    transform: scale(1.03);
    transition: transform .6s;
    background-color: rgba(54, 162, 235, 0.9);
}

#a-card {
    text-decoration: none;
    color: white;
}

/* STATS */

#charts{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#container {
    height: 500px !important;
}
